/* Your custom styles */
.nav-item {
    margin-left: 2px;
    margin-right: 2px;
}

.nav-item:hover {
  background-color: rgba(255,255,255,.05);
  transition: background-color 0.3s ease;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover {
  color: white;
}

.re-text-center {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.re-sub-header {
  font-weight: 300;
  font-size: 1.25rem;
}
